<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/commentStyle.css">
	<% for(let i=0, len=cssFilePath.length; i<len; i++) { %>
		<link rel="stylesheet" type="text/css" href="<%= cssFilePath[i] %>">
	<% } %>
</head>
<body>
	<header class="toolbar">
		<div class="logo">PRATICE</div>
		<div class="time">00:00</div>
		<section class="userInfo">
			<input type="button" value="错题" class="errorExercise">
			<div class="userImg" style="background-image: url(<%= imageSrc %>);">
				<div class="showUsername" id=<%= fullName %>><%= username %></div>
			</div>
		</section>
	</header>

	<section class="naviSec">
		<div class="tab"></div>

		<nav class="navigation">
			>>>>>
			<div class="home"></div>
		</nav>
	</section>

	<%- innerHtml %>

	<footer>
		<div class="message">
			<span class="author">Email:18824167803@163.com</span>|
			<span class="telphone">Tel:18824167803</span>
		</div>
		<div class="copyright">Copyright©2016-2017 SunnyHu</div>
	</footer>

	<script src="javascripts/jquery.min.js"></script>
	<script src="javascripts/commentFunction.js"></script>
	<% for(let i=0, len=scriptFilePath.length; i<len; i++) { %>
		<script src="<%= scriptFilePath[i] %>"></script>
	<% } %>
	<script src="javascripts/commentJS.js"></script>
</body>
</html>