<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv=X-UA-Compatible content=IE=EmulateIE10>
	<meta http-equiv=X-UA-Compatible content=IE=10>

	<link rel="stylesheet" type="text/css" href="stylesheets/commentStyle.css">
	<% for(let i=0, len=cssFilePath.length; i<len; i++) { %>
		<link rel="stylesheet" type="text/css" href="<%= cssFilePath[i] %>">
	<% } %>
</head>
<body>
	<div class="toolbarDisable"></div>
	<!-- <header class="toolbar">
		<div class="logo">PRATICE</div>
		<div class="time"></div>
		<section class="userInfo">
			<input type="button" value="错题" class="errorExercise">
			<div class="userImg" style="background-image: url(<%= imageSrc %>);">
				<div class="showUsername" id=<%= fullName %>><%= username %></div>
				<div class="identity" id=<%= identity %>></div>
			</div>
		</section>
	</header> -->

	<header class="toolbar">
		<div class="showTitle">
			<div class="title">在线练习系统</div>
			<div class="detail">轻松应对上课重点、难点，让考试胜券在握</div>
		</div>
		<div class="time"></div>
		<div class="userImg" style="background-image: url(<%= imageSrc %>);">
			<div class="showUsername" id=<%= fullName %>><%= username %></div>
			<div class="identity" id=<%= identity %>></div>
		</div>
		<div class="usersManage"><input type="button" value="用户管理"></div>
	</header>

	<section class="naviSec">
		<div class="tab"></div>

		<nav class="navigation">
			<div class="home"></div>
		</nav>
	</section>

	<%- innerHtml %>

	<!-- <footer>
		<div class="message">
			<span class="author">Email:18824167803@163.com</span>|
			<span class="telphone">Tel:18824167803</span>
		</div>
		<div class="copyright">Copyright©2016-2017 SunnyHu</div>
	</footer> -->

	<script src="javascripts/jquery.min.js"></script>
	<script src="javascripts/commentFunction.js"></script>
	<% for(let i=0, len=scriptFilePath.length; i<len; i++) { %>
		<script src="<%= scriptFilePath[i] %>"></script>
	<% } %>
	<script src="javascripts/commentJS.js"></script>
</body>
</html>