<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv=X-UA-Compatible content=IE=EmulateIE10>
	<meta http-equiv=X-UA-Compatible content=IE=10>

	<link rel="stylesheet" type="text/css" href="stylesheets/commentStyle.css">
	<% for(let i=0, len=cssFilePath.length; i<len; i++) { %>
		<link rel="stylesheet" type="text/css" href="<%= cssFilePath[i] %>">
	<% } %>
</head>
<body>
	<div class="toolbarDisable"></div>

	<header class="toolbar">
		<div class="showTitle">
			<div class="title">在线练习系统</div>
			<div class="detail">轻松应对上课重点、难点，让考试胜券在握</div>
		</div>
		<div class="time"></div>
		<div class="userImg" style="background-image: url(<%= imageSrc %>);">
			<div class="showUsername" id=<%= fullName %>><%= username %></div>
			<div class="identity" id=<%= identity %>></div>
		</div>
	</header>

	<section class="naviSec">
		<div class="tab"></div>

		<nav class="navigation">
			<div class="home"></div>
		</nav>
	</section>

	<section class="showScoresDetail">
		<div class="showTotalScore">
			<span class="score"><%= scoresDetail.totalScore %></span>
		</div>
		<section class="scoresDetail">
			<% for(var k in scoresDetail.details) { %>
				<div class="details"><span class="title"><%= k %>得分</span>：<span class="score"><%= scoresDetail.details[k] %></span></div>
			<% } %>
		</section>
		<input type="hidden" value="<%= scoresDetail.urlParam %>" class="urlParam">
		<p class="ps">ps:简答题得分为建议给分，仅供参考，如有误差，请见谅.</p>
		<div class="seeMoreBtn"><span class="goBack"></span><span>查看详情</span></div>
	</section>

	<script src="javascripts/jquery.min.js"></script>
	<script src="javascripts/commentFunction.js"></script>
	<% for(let i=0, len=scriptFilePath.length; i<len; i++) { %>
		<script src="<%= scriptFilePath[i] %>"></script>
	<% } %>
	<script src="javascripts/commentJS.js"></script>
</body>
</html>